<!DOCTYPE html>
<html style="background-color: black;">
<head>
  <meta charset="utf-8">
  <title>Tesla Control Panel</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <style>
    /* Set the size of the div element that contains the map */
   #map {
     height: 400px;  /* The height is 400 pixels */
     width: 100%;  /* The width is the width of the web page */
    }
 </style>
</head>
<body style="color: white; font-family: 'Roboto', sans-serif;">
<div style="text-align: center;">
    <img style="height:50px; margin-top: 10px;" src="../static/logo.png">
    <h1>Your Tesla</h1>
    <img style="height:400px;" src="../static/tesla.png">
</div>
<div style="text-align: center;">
<div style="display:inline-block; margin-right: 30px;">
    <h2>Current charge</h2>
    <h3>{{battery_level|round}}%</h3>
</div>
<div style="display:inline-block;">
  <h2>Odometer</h2>
  <h3>{{odometer|round}} miles</h3>
</div>
</div>
<div style="text-align: center;">
    <h2 style="margin-top: 60px;">Security</h2>
    <form action="/lock" method="post">
      <button name="Lock" type="submit">Lock</button>
  </form>
  <form action="/unlock" method="post">
    <button name="Unlock" type="submit">Unlock</button>
</form>
</div>
<div style="text-align: center;">
  <h2 style="margin-top: 60px;">Car's Location</h2>
  <!-- <h3>latitude: {{location_latitude}}</h3>
  <h3>longitude: {{location_longitude}}</h3> -->
</div>

<div id="map" style="height: 500px;"></div>
{% block javascript %}
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: {{location_latitude}}, lng: {{location_longitude}}};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 20, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
{% endblock %}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEY&callback=initMap">
    </script>

</body>
</html>
